<div class="match-item">
  <div class="match-endscore">
      <div>FC Pleintje<span class="match-score us">{{match.score_us}}</span></div>
      <div>{{match.opponent_name}}<span class="match-score">{{match.score_opponent}}</span></div>
  </div>
  <div class="match-left">
    <app-lineup [lineup]="match.lineup"></app-lineup>
    <app-scoresheet [goals]="match.goals"></app-scoresheet>
  </div>
  <div class="match-right">
    <div class="match-video-summary">
      <div class="match-video">
        <iframe
          src="https://streamable.com/s/0yj3l/syymyv"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
