.match-item {
  margin-bottom: 30px;

  .match-endscore {
    .match-score {
      float: right;

      &.us {
        font-weight: bold;
      }
    }
  }

  .match-left {

    .match-lineup {}

    .match-stats {
      margin-bottom: 15px;
    }
  }

  .match-right {

    vertical-align: top;

    .match-video {
      //width: 500px;

      iframe {
        min-height: 280px;
        //width: 500px;
      }
    }
  }
}