
.match-item {
    .match-lineup {
      margin-bottom: 15px;
      border: 1px solid black;
      .match-lineup-player {
        .player-number {
          display: inline-block;
          width: 25px;
          text-align: center;
          background-color: black;
          color: white;
          font-weight: bold;
          padding: 0px 10px;
        }
        .player-name {
          padding-left: 15px;
          display: inline-block;
        }
      }
    }
  
    .match-stats {
      border: 1px solid black;
      .match-stats-goal {
        .goal-minutes {
          display: inline-block;
          width: 25px;
          text-align: center;
          background-color: black;
          color: white;
          vertical-align: top;
          height: 100%;
          font-weight: bold;
          padding: 0px 10px;
        }
        .goal-score {
          display: inline-block;
          width: 25px;
          text-align: center;
          vertical-align: top;
          height: 100%;
          font-weight: bold;
          padding: 0px 10px;
        }
        .goal-info {
          padding-left: 15px;
          display: inline-block;
          .goal-scorer {
            font-weight: bold;
          }
          .goal-assist {
            font-style: italic;
          }
        }
      }
    }
  }
  